<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        {% if session['loggedin'] == True: %}
        <h1>{{  session.username }}</h1>
        <input type="text">
        <a href="{{ url_for('post')}}">post</a>
        <a href="">friends</a>
        <a href="{{ url_for('logout') }}">log out</a>
        {% else %}
        <h1>Logged out</h1>
        <input type="text">
        <a href="{{ url_for('login') }}">log in</a>
        <a href="{{ url_for('register') }}">register</a>
        {% endif %}
    </header>
</body>
</html>